<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <strong>App name :   </strong>    Weather app 
          </ion-item>
            <ion-item>
              <strong>Version :   </strong>    0.5
            </ion-item>
            <ion-item>
                <strong>Description :   </strong>    simple app
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
